body {
    background-color: beige;
}

.bye {
    display: flex;
    position: relative;
    width: 300px;
    padding: 5px;
    margin: 0px auto;
    border: 10px black outset;
    text-align: center;
    top: 200px;
    border-radius: 10px;
}